/* .body{
    background-color:rgb(248, 253, 255);
} */

.title{
    color: black;
    background-color:rgb(222, 246, 255);
}
.nav{
    display: flex;
    justify-content: center;
    background-color:rgb(219, 245, 255);
}

.title .nav-link {
    color: navy;
    /* border: solid 1px;
    border-radius: 3px;
    background-color: white; */
  }
.nav-link:hover{
    color: green;
}
/* button{
    width: 100px;
    background-color:green;
}
button:hover {
    color: rgb(246, 246, 246);
    background-color: yellow;
}
 */



.text-container {
    position: absolute;
    color: rgb(255, 255, 255);
    background-color: rgb(41, 41, 41, 0.8);
    margin: auto; 
}

.intro{
    display: flex;
    justify-content: center;
}

.card{
    box-shadow: 2px 2px rgb(125, 125, 125);
    border-style: none;
    /* border-color: rgb(255, 255, 255); */
}

.card-body{
    /* border-style: solid;
    border-width: 2px;
    border-color: black; */
    border-style: none;
    border-radius: 0 0 5px 5px;
    background-color:   rgba(255, 186, 186, 0.196);
}
h2{
    /* color:black;
    padding-top:auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.big-card{
    display: flex;
    justify-content: center;
}


.social-media-icon{
    height:40px;
    width:40px;
}